@font-face {
  src: url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff");
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("../fonts/montserrat-medium.woff2") format("woff2"), url("../fonts/montserrat-medium.woff") format("woff");
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("../fonts/montserrat-bold.woff2") format("woff2"), url("../fonts/montserrat-bold.woff") format("woff");
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* * {
    outline: 1px solid #000;
} */
body {
  margin: 0;
  font-family: "Montserrat", "Arial", "Helvetica", sans-serif;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1388px;
}
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.button {
  cursor: pointer;
}
.button_primary {
  border: 0;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #FFA800;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.button_primary:hover {
  background-color: #FFC34E;
}
.button_primary:active {
  color: rgba(0, 0, 0, 0.25);
  background-color: #FFA800;
}
.image-poly {
  font-family: "object-fit: cover;";
}
/* header-start */
/* ie11 fix for min-height bug start */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* ie11 fix for min-height bug end */
.container_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* ie11 fix for min-height bug start */
  width: 100%;
  /* ie11 fix for min-height bug end */
  min-height: 143px;
}
.header__logo {
  display: block;
  margin-top: 10px;
  margin-right: 33px;
  width: 310px;
  height: 106px;
}
.header__logo-image {
  width: 100%;
  height: 100%;
}
.header__text {
  position: relative;
  margin-top: 14px;
  margin-left: 31px;
  width: 408px;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #393F44;
}
.header__text::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 50%;
  width: 2px;
  height: 79px;
  background-color: #FFA800;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 9px;
  margin-left: auto;
  height: 58px;
}
.header__link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #393F44;
}
.header__tel {
  position: relative;
  padding-left: 24px;
}
.header__tel::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 19px;
  height: 19px;
  background: url("../../img/phone.svg") no-repeat left;
}
.header__email {
  position: relative;
  padding-left: 36px;
}
.header__email::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  display: block;
  width: 22px;
  height: 16px;
  background: url("../../img/mail.svg") no-repeat left;
}
.header__button {
  margin-left: 29px;
  padding: 19px 0;
  min-width: 270px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
}
/* header-end */
.main-nav {
  position: relative;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #393F44;
}
.container_main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  min-height: 81px;
  max-width: 1285px;
}
.burger-button {
  display: none;
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
.burger-button__image {
  width: 48px;
  height: 25px;
}
.burger-button__image path {
  pointer-events: none;
}
/* burger-menu-start */
.burger-menu {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  padding: 19px 65px 19px 14px;
  min-width: 133px;
  min-height: 268px;
  background-color: #393F44;
  opacity: 0;
  -webkit-transform: translate(-599px, 0);
  transform: translate(-599px, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.burger-menu_active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.burger-menu__list-item {
  margin-bottom: 23px;
}
.burger-menu__list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}
.burger-menu__list-link:hover {
  text-decoration: underline;
  color: #FFA800;
}
.burger-menu__close-button {
  position: absolute;
  right: 22.33px;
  top: 17px;
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
.close-button__image {
  width: 27px;
  height: 27px;
}
/* burger-menu-end */
.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 5px;
  width: 100%;
}
.main-nav__list-link {
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main-nav__button {
  display: none;
  padding: 16px 0 12px;
  min-width: 203px;
  font-family: "Montserrat", "Arial", "Helvetica", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
}
.first-screen {
  width: 100%;
  min-height: 872px;
  background: url("../../img/first-screen.jpg") center top no-repeat;
  background-size: cover;
}
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .first-screen {
    background: url("../../img/first-screen@2x.jpg") center top no-repeat;
    background-size: cover;
  }
}
.container_first-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1147px;
}
.first-screen__title {
  margin: 0;
  padding-top: 217px;
  width: 100%;
  max-width: inherit;
  font-weight: 700;
  font-size: 84px;
  line-height: 102.4px;
  text-align: center;
  color: #FFFFFF;
}
.first-screen__btn-call {
  position: relative;
  margin-top: 91px;
  padding: 19px 83px 18px 54px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  -webkit-filter: drop-shadow(0 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0 16px 24px rgba(38, 38, 38, 0.2));
  filter: drop-shadow(0 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0 16px 24px rgba(38, 38, 38, 0.2));
}
.first-screen__btn-call::after {
  content: "";
  position: absolute;
  right: -1px;
  top: 0;
  display: inline-block;
  width: 54px;
  height: 100%;
  background: url("../../img/first-screen-block-for-button.svg") center right no-repeat;
  background-size: cover;
}
.services {
  position: relative;
  width: 100%;
  background-color: #393F44;
}
.services::before {
  content: "";
  position: absolute;
  left: 0;
  top: -25px;
  display: inline-block;
  width: 100%;
  height: 25px;
  background: url("../../img/section-arrow.svg") center top no-repeat;
  background-size: cover;
}
.services::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -94px;
  display: inline-block;
  width: 100%;
  height: 96px;
  background: url("../../img/section-arrow.svg") center bottom no-repeat;
}
.container_services {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 86px 30px 51px;
  max-width: 1384px;
}
.services__title {
  position: relative;
  margin-bottom: 20px;
  width: 421px;
  min-height: 420px;
}
.services__title::before {
  content: "";
  position: absolute;
  left: 72px;
  top: 44px;
  display: inline-block;
  width: 276px;
  height: 272px;
  background: url("../../img/services-decorate-element.svg") top center no-repeat;
  background-size: cover;
}
.services__title-h2 {
  position: absolute;
  left: 145px;
  top: 141px;
  margin: 0;
  width: 192px;
  font-weight: 700;
  font-size: 44px;
  line-height: 47px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.services__card {
  position: relative;
  margin-bottom: 20px;
  width: 420px;
  min-height: 420px;
  -webkit-filter: drop-shadow(3px -3px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(3px -3px 4px rgba(0, 0, 0, 0.25));
}
.services__card-title {
  position: absolute;
  left: 0;
  bottom: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 10px 15px;
  width: 280px;
  min-height: 84px;
  font-weight: 700;
  font-size: 30px;
  line-height: 33px;
  color: #FFFFFF;
  background-color: #393F44;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .services__card-title {
    height: 84px;
  }
}
.services__card-image {
  display: block;
  width: inherit;
  height: inherit;
  background-color: #A4A4A4;
  -o-object-fit: cover;
  object-fit: cover;
}
.about-company {
  width: 100%;
  background-color: #FFFFFF;
}
.container_about-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 190px 30px 201px;
  max-width: 1384px;
  background: url("../../img/logotype_VELES.png") center no-repeat;
  background-size: 114% 73%;
}
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .container_about-company {
    background: url("../../img/logotype_VELES@2x.png") center no-repeat;
    background-size: 114% 73%;
  }
}
.about-company__image {
  width: 50%;
  height: 498px;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-filter: drop-shadow(0 4px 52px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0 4px 52px rgba(0, 0, 0, 0.25));
}
.about-company__card {
  width: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 32px;
  line-height: 42.37px;
  color: #272727;
}
.about-company__card:first-of-type {
  padding-right: 8%;
  padding-left: 37px;
}
.about-company__card:last-of-type {
  padding-top: 8%;
  padding-right: 1%;
}
.about-company__card-title {
  margin-top: 83px;
  margin-bottom: 38px;
  font-size: 44px;
  line-height: 44px;
  text-transform: uppercase;
  color: #272727;
}
.about-company__card-text {
  margin: 0;
  /* &:first-of-type {
        padding-right: 8%;
    } */
}
.about-company__card-bold-text {
  font-weight: 700;
}
.benefits {
  position: relative;
  width: 100%;
  background-color: #393F44;
}
.benefits::before {
  content: "";
  position: absolute;
  left: 0;
  top: -25px;
  display: inline-block;
  width: 100%;
  height: 25px;
  background: url("../../img/section-arrow.svg") center top no-repeat;
  background-size: cover;
}
.benefits::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -94px;
  display: inline-block;
  width: 100%;
  height: 96px;
  background: url("../../img/section-arrow.svg") center bottom no-repeat;
}
.container_benefits {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 103px 30px 108px;
  max-width: 1384px;
}
.benefits__title {
  margin: 0;
  margin-bottom: 130px;
  width: 100%;
  font-weight: 700;
  font-size: 44px;
  line-height: 44px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.benefits__card {
  margin-bottom: 53px;
  text-align: center;
}
.benefits__card:nth-of-type(1) {
  max-width: 321px;
}
.benefits__card:nth-of-type(2) {
  max-width: 376px;
}
.benefits__card:nth-of-type(3) {
  max-width: 348px;
}
.benefits__card-image {
  margin-bottom: 16px;
  width: 82px;
  height: 82px;
}
.benefits__card-title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #FFA800;
}
.benefits__card-text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.partners {
  width: 100%;
  background-color: #FFFFFF;
}
.container_partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 158px 30px 138px;
  max-width: 1384px;
}
.container_partners::after {
  content: "";
  width: 306px;
  height: 0;
}
.partners__title {
  margin: 0;
  margin-bottom: 100px;
  width: 100%;
  font-weight: 700;
  font-size: 44px;
  line-height: 44px;
  text-transform: uppercase;
}
.partners__link {
  margin-bottom: 50px;
  width: 306px;
  height: 146px;
}
.partners__image-logo {
  width: 100%;
  height: 100%;
}
.modal {
  --transition-time: 0.3s;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity var(--transition-time), visibility var(--transition-time);
  transition: opacity var(--transition-time), visibility var(--transition-time);
}
.modal::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.modal__container {
  position: relative;
  display: none;
  vertical-align: middle;
  text-align: left;
  background-color: #FFFFFF;
  cursor: default;
}
.modal.is-open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity var(--transition-time), visibility var(--transition-time);
  transition: opacity var(--transition-time), visibility var(--transition-time);
}
.modal__container.modal-open {
  display: inline-block;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity var(--transition-time);
  transition: opacity var(--transition-time);
}
.fade.animate-open {
  opacity: 1;
  -webkit-transition: opacity var(--transition-time);
  transition: opacity var(--transition-time);
}
.fadeInUp {
  opacity: 0;
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  -webkit-transition: opacity var(--transition-time), -webkit-transform var(--transition-time);
  transition: opacity var(--transition-time), -webkit-transform var(--transition-time);
  transition: opacity var(--transition-time), transform var(--transition-time);
  transition: opacity var(--transition-time), transform var(--transition-time), -webkit-transform var(--transition-time);
}
.fadeInUp.animate-open {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: opacity var(--transition-time), -webkit-transform var(--transition-time);
  transition: opacity var(--transition-time), -webkit-transform var(--transition-time);
  transition: opacity var(--transition-time), transform var(--transition-time);
  transition: opacity var(--transition-time), transform var(--transition-time), -webkit-transform var(--transition-time);
}
.content {
  min-height: 200vh;
}
.disable-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 35px;
  padding-top: 31px;
  padding-bottom: 32px;
}
.modal__title {
  margin-top: 0;
  margin-bottom: 33px;
  font-size: 20px;
  text-align: center;
}
.modal__name {
  margin-bottom: 15px;
  padding: 0 13px;
  width: 255px;
  height: 32px;
  font-size: 10px;
}
.modal__name::-webkit-input-placeholder {
  font-size: 10px;
  color: #A4A4A4;
}
.modal__name::-moz-placeholder {
  font-size: 10px;
  color: #A4A4A4;
}
.modal__name:-ms-input-placeholder {
  font-size: 10px;
  color: #A4A4A4;
}
.modal__name::-ms-input-placeholder {
  font-size: 10px;
  color: #A4A4A4;
}
.modal__name::placeholder {
  font-size: 10px;
  color: #A4A4A4;
}
.modal__tel {
  margin-bottom: 15px;
  padding: 0 13px;
  width: 255px;
  height: 32px;
  font-size: 10px;
}
.modal__tel::-webkit-input-placeholder {
  font-size: 10px;
  color: #A4A4A4;
}
.modal__tel::-moz-placeholder {
  font-size: 10px;
  color: #A4A4A4;
}
.modal__tel:-ms-input-placeholder {
  font-size: 10px;
  color: #A4A4A4;
}
.modal__tel::-ms-input-placeholder {
  font-size: 10px;
  color: #A4A4A4;
}
.modal__tel::placeholder {
  font-size: 10px;
  color: #A4A4A4;
}
.modal__textarea {
  margin-bottom: 20px;
  padding: 8px 13px;
  width: 255px;
  min-height: 76px;
  font-size: 10px;
  resize: none;
}
.modal__textarea::-webkit-input-placeholder {
  font-size: 10px;
  color: #A4A4A4;
}
.modal__textarea::-moz-placeholder {
  font-size: 10px;
  color: #A4A4A4;
}
.modal__textarea:-ms-input-placeholder {
  font-size: 10px;
  color: #A4A4A4;
}
.modal__textarea::-ms-input-placeholder {
  font-size: 10px;
  color: #A4A4A4;
}
.modal__textarea::placeholder {
  font-size: 10px;
  color: #A4A4A4;
}
.modal__submit {
  -ms-flex-item-align: start;
  align-self: flex-start;
  border: 0;
  padding: 14px 18px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  font-size: 8px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #FFA800;
}
/* modal start */
@media (max-width: 400px) {
  .modal__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
  }
  .modal__title,
  .modal__name,
  .modal__tel,
  .modal__textarea {
    width: 85%;
  }
}
/* modal end */
/* header-start */
@media (max-width: 1270px) {
  .container_header {
    padding: 0 30px;
    min-height: 142px;
  }
  .header__logo {
    margin-top: 6px;
    width: 177px;
    height: 60px;
  }
  .header__text {
    margin-top: 12px;
    margin-left: 25px;
    width: 259px;
    font-size: 18px;
    line-height: 22px;
  }
  .header__text::before {
    left: -33px;
  }
  .header__contacts {
    height: 56px;
  }
  .header__tel {
    padding-left: 35px;
  }
  .header__button {
    margin-top: 5px;
    margin-left: 36px;
  }
}
@media (max-width: 1017px) {
  .header__logo {
    margin-top: 7px;
    margin-right: 33px;
  }
  .header__text {
    margin-left: 7px;
  }
  .header__text::before {
    left: -25px;
  }
  .header__link {
    font-size: 18px;
  }
  .header__button {
    margin-top: 0;
    margin-left: 20px;
    border: 0;
    padding: 19px 0;
    min-width: 204px;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: 0;
  }
}
@media (max-width: 905px) {
  .container_header {
    padding: 0 24px;
    min-height: 89px;
  }
  .header__logo {
    margin-top: 0;
    margin-right: 33px;
    width: 122px;
    height: 41px;
  }
  .header__text {
    margin-top: 4px;
    margin-left: 33px;
    font-size: 16px;
    line-height: 20px;
  }
  .header__text::before {
    left: -32px;
    height: 51px;
  }
  .header__contacts {
    margin-top: 0;
    height: 48px;
  }
  .header__link {
    -ms-flex-item-align: end;
    align-self: flex-end;
    font-weight: 600;
  }
  .header__tel {
    padding-left: 24px;
  }
  .header__tel::before {
    left: 10px;
    top: 3px;
    width: 13px;
    height: 13px;
    background: url("../../img/phone-768.svg") no-repeat left;
  }
  .header__email {
    padding-left: 20px;
  }
  .header__email::before {
    left: 1px;
    top: 6px;
    width: 16px;
    height: 12px;
    background: url("../../img/mail-768.svg") no-repeat left;
  }
  .header__button {
    display: none;
  }
}
@media (max-width: 640px) {
  .container_header {
    padding: 0 8px;
    min-height: 66px;
  }
  .header__logo {
    margin-top: 0;
    margin-right: 10px;
    width: 86px;
    height: 29px;
  }
  .header__text {
    margin-top: 4px;
    margin-left: 12px;
    width: 180px;
    font-size: 12px;
    line-height: 12px;
  }
  .header__text::before {
    left: -10px;
    height: 34px;
  }
  .header__contacts {
    margin-top: 7px;
    margin-left: auto;
    height: 36px;
  }
  .header__link {
    font-size: 14px;
    line-height: 17px;
  }
  .header__tel {
    padding-left: 24px;
  }
  .header__tel::before {
    left: 8px;
    top: -2px;
    width: 13px;
    height: 14px;
    background: url("../../img/phone-480.svg") no-repeat left;
  }
  .header__email {
    padding-left: 21px;
  }
  .header__email::before {
    left: 0;
    top: 1px;
    width: 16px;
    height: 12px;
    background: url("../../img/mail-480.svg") no-repeat left;
  }
}
@media (max-width: 470px) {
  .header__logo {
    margin-top: 7px;
    margin-right: 0;
    width: 118px;
    height: 40px;
  }
  .header__text {
    display: none;
  }
  .header__contacts {
    margin-top: 7px;
    margin-left: auto;
    height: 30px;
  }
  .header__link {
    font-size: 10px;
    line-height: 12px;
  }
  .header__tel {
    padding-left: 24px;
  }
  .header__tel::before {
    left: 10px;
    top: 0;
    width: 11px;
    height: 10px;
    background: url("../../img/phone-320.svg") no-repeat left;
  }
  .header__email {
    padding-left: 21px;
  }
  .header__email::before {
    left: 6px;
    top: 1px;
    width: 11px;
    height: 8px;
    background: url("../../img/mail-320.svg") no-repeat left;
  }
}
/* header-end */
/* main-nav-start */
@media (max-width: 1217px) {
  .container_main-nav {
    max-width: 1030px;
  }
}
@media (max-width: 1017px) {
  .container_main-nav {
    max-width: 915px;
  }
  .main-nav__list {
    margin-top: 0;
  }
  .main-nav__list-link {
    font-size: 16px;
  }
}
@media (max-width: 828px) {
  .container_main-nav {
    max-width: 715px;
  }
  .burger-button {
    display: block;
  }
  .main-nav__list {
    display: none;
  }
  .main-nav__button {
    display: block;
  }
}
@media (max-width: 497px) {
  .main-nav__button {
    padding: 6px 0;
    min-width: 126px;
    font-size: 9px;
    letter-spacing: 0;
  }
}
@media (max-width: 470px) {
  .container_main-nav {
    min-height: 54px;
  }
  .burger-button__image {
    width: 36px;
    height: 22px;
  }
  .burger-menu {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    padding: 19px 0;
    min-width: 100%;
    min-height: 256px;
    text-align: center;
  }
  .burger-menu__list-item {
    margin-right: 12px;
  }
  .burger-menu__close-button {
    right: 10px;
    top: 13px;
  }
}
/* main-nav-end */
/* first-screen-start */
@media (max-width: 1200px) {
  .first-screen {
    min-height: 579px;
  }
  .first-screen__title {
    padding-top: 117px;
    font-size: 64px;
    line-height: 78px;
  }
  .first-screen__btn-call {
    margin-top: 64px;
    padding: 19px 83px 18px 54px;
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-width: 1000px) {
  .first-screen {
    min-height: 483px;
  }
  .container_first-screen {
    max-width: 790px;
  }
  .first-screen__title {
    padding-top: 126px;
    font-size: 44px;
    line-height: 54px;
  }
  .first-screen__btn-call {
    margin-top: 60px;
    padding: 17px 69px 18px 40px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 768px) {
  .first-screen {
    min-height: 346px;
  }
  .container_first-screen {
    max-width: 577px;
  }
  .first-screen__title {
    padding-top: 104px;
    font-size: 32px;
    line-height: 39px;
  }
  .first-screen__btn-call {
    margin-top: 36px;
    padding: 10px 49px 9px 17px;
    font-size: 14px;
    line-height: 24px;
  }
  .first-screen__btn-call::after {
    width: 38px;
  }
}
@media (max-width: 480px) {
  .first-screen {
    min-height: 243px;
  }
  .first-screen__title {
    padding-top: 33px;
    font-size: 28px;
    line-height: 34px;
  }
  .first-screen__btn-call {
    margin-top: 17px;
  }
}
@media (max-width: 320px) {
  .first-screen {
    min-height: 170px;
  }
  .first-screen__title {
    padding-top: 40px;
    font-size: 20px;
    line-height: 24px;
  }
  .first-screen__btn-call {
    margin-top: 15px;
    padding: 4px 25px 3px 9px;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
  }
  .first-screen__btn-call::after {
    width: 18.6px;
  }
}
/* first-screen-end */
/* services-start */
@media (max-width: 1450px) {
  .container_services {
    max-width: 1140px;
  }
  .services__title {
    margin-bottom: 20px;
    width: 334px;
    min-height: 311px;
  }
  .services__title::before {
    left: 33px;
    top: 33px;
    width: 226px;
    height: 223px;
  }
  .services__title-h2 {
    left: 75px;
    top: 100px;
    font-size: 42px;
    line-height: 47px;
  }
  .services__card {
    margin-bottom: 20px;
    width: 334px;
    min-height: 311px;
  }
  .services__card-title {
    left: 0;
    bottom: -1px;
    padding: 0 15px;
    width: 216px;
    min-height: 77px;
    font-size: 20px;
    line-height: 26px;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active), (max-width: 1450px) {
  .services__card-title {
    height: 77px;
  }
}
@media (max-width: 1200px) {
  .container_services {
    padding: 68px 30px 25px;
    max-width: 1140px;
  }
  .services__title {
    margin-bottom: 70px;
    width: 334px;
    min-height: 311px;
  }
  .services__title::before {
    left: 33px;
    top: 33px;
    width: 226px;
    height: 223px;
  }
  .services__title-h2 {
    left: 75px;
    top: 100px;
    font-size: 42px;
    line-height: 47px;
  }
  .services__card {
    margin-bottom: 70px;
    width: 334px;
    min-height: 311px;
  }
  .services__card-title {
    left: 0;
    bottom: -1px;
    padding: 0 15px;
    width: 190px;
    min-height: 79px;
    font-size: 20px;
    line-height: 22px;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active), (max-width: 1200px) {
  .services__card-title {
    height: 79px;
  }
}
@media (max-width: 1116px) {
  .container_services {
    max-width: 960px;
  }
  .services__title {
    margin-bottom: 20px;
    width: 257px;
    min-height: 239px;
  }
  .services__title::before {
    left: 33px;
    top: 33px;
    width: 226px;
    height: 223px;
  }
  .services__title-h2 {
    left: 75px;
    top: 100px;
    font-size: 42px;
    line-height: 47px;
  }
  .services__card {
    margin-bottom: 70px;
    width: 257px;
    min-height: 239px;
  }
  .services__card-title {
    left: 0;
    bottom: -1px;
    padding: 0 15px;
    width: 170px;
    min-height: 59px;
    font-size: 18px;
    line-height: 22px;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active), (max-width: 1116px) {
  .services__card-title {
    height: 59px;
  }
}
@media (max-width: 894px) {
  .container_services {
    padding: 78px 30px 70px;
    max-width: 720px;
  }
  .services__title {
    margin-bottom: 20px;
    width: 214px;
    min-height: 200px;
  }
  .services__title::before {
    left: 17px;
    top: 8px;
    width: 179px;
    height: 177px;
  }
  .services__title-h2 {
    left: 48px;
    top: 51px;
    font-size: 32px;
    line-height: 47px;
  }
  .services__card {
    margin-bottom: 20px;
    width: 214px;
    min-height: 200px;
  }
  .services__card-title {
    left: 0;
    bottom: -1px;
    padding: 0 15px;
    width: 138px;
    min-height: 49px;
    font-size: 14px;
    line-height: 16px;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active), (max-width: 894px) {
  .services__card-title {
    height: 49px;
  }
}
@media (max-width: 740px) {
  .services::after {
    content: "";
    bottom: -50px;
    width: 100%;
    height: 52px;
    background-size: 200%;
  }
  .container_services {
    padding: 16px 10px 10px;
    max-width: 460px;
  }
  .services__title {
    margin-bottom: 15.5px;
    width: 135px;
    min-height: 128.5px;
  }
  .services__title::before {
    left: 17px;
    top: 8px;
    width: 99px;
    height: 97px;
  }
  .services__title-h2 {
    left: 36px;
    top: 31px;
    width: 88px;
    font-size: 20px;
    line-height: 23px;
  }
  .services__card {
    margin-bottom: 15.5px;
    width: 135px;
    min-height: 128.5px;
  }
  .services__card-title {
    left: 0;
    bottom: -1px;
    padding: 0 5px;
    width: 115px;
    min-height: 32px;
    font-size: 12px;
    line-height: 14px;
  }
}
@media (max-width: 740px) and all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .services__card-title {
    height: 32px;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active), (max-width: 740px) {
  .services__card-title {
    height: 32px;
  }
}
@media (max-width: 520px) {
  .services::after {
    content: "";
    bottom: -40px;
    width: 100%;
    height: 41px;
    background-size: 200%;
  }
  .container_services {
    padding: 0 10px;
    max-width: 266px;
  }
  .services__title {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 25px;
    width: 100%;
    min-height: 18px;
  }
  .services__title::before {
    display: none;
  }
  .services__title-h2 {
    position: static;
    display: inline;
    width: 100%;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }
  .services__card {
    margin-bottom: 14px;
    width: 122px;
    min-height: 116px;
  }
  .services__card-title {
    left: 0;
    bottom: -1px;
    padding: 0 7px;
    width: 108px;
    min-height: 37.8px;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active), (max-width: 520px) {
  .services__card-title {
    height: 37.8px;
  }
}
/* services-end */
/* about-company-start */
@media (max-width: 1200px) {
  .about-company__image {
    height: 418px;
  }
  .about-company__card {
    font-size: 28px;
    line-height: 37.07px;
  }
  .about-company__card:first-of-type {
    padding-right: 6%;
  }
  .about-company__card:last-of-type {
    padding-top: 7%;
  }
  .about-company__card-title {
    margin-top: 83px;
    margin-bottom: 38px;
    font-size: 30px;
    line-height: 30px;
  }
}
@media (max-width: 1000px) {
  .container_about-company {
    padding: 210px 30px 130px;
    background: url("../../img/logotype_VELES.png") center no-repeat;
    background-size: 132% 70%;
  }
  .about-company__image {
    height: 318px;
  }
  .about-company__card {
    font-size: 28px;
    line-height: 37.07px;
  }
  .about-company__card:first-of-type {
    padding-right: 0;
    padding-bottom: 63px;
  }
  .about-company__card:last-of-type {
    padding-top: 2%;
  }
  .about-company__card-title {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 30px;
  }
}
@media (max-width: 1000px) and only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .container_about-company {
    background: url("../../img/logotype_VELES@2x.png") center no-repeat;
    background-size: 132% 70%;
  }
}
@media (max-width: 768px) {
  .container_about-company {
    padding: 172px 8px 108px;
    max-width: 720px;
  }
  .about-company__image {
    height: 222px;
  }
  .about-company__image:first-of-type {
    padding-bottom: 32px;
  }
  .about-company__card {
    font-size: 20px;
    line-height: 26.48px;
  }
  .about-company__card:first-of-type {
    padding-bottom: 30px;
    padding-left: 15px;
  }
  .about-company__card:last-of-type {
    padding-top: 13px;
  }
  .about-company__card-title {
    margin-top: 0;
    margin-bottom: 41px;
    font-size: 24px;
    line-height: 22px;
  }
}
@media (max-width: 560px) {
  .container_about-company {
    padding: 95px 8px;
    max-width: 464px;
  }
  .about-company__image {
    width: 192px;
    height: 119.06px;
  }
  .about-company__image:first-of-type {
    padding-bottom: 34.94px;
  }
  .about-company__card {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 14px;
    line-height: 15.46px;
  }
  .about-company__card:first-of-type {
    padding-bottom: 0;
    padding-left: 10px;
  }
  .about-company__card:last-of-type {
    padding-top: 0;
    padding-right: 10px;
  }
  .about-company__card-title {
    margin: 0;
    margin-bottom: 27px;
    min-width: 199px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (max-width: 420px) {
  .container_about-company {
    position: relative;
    padding: 95px 8px 60px;
  }
  .about-company__image {
    width: 137px;
    height: 85px;
  }
  .about-company__image:first-of-type {
    padding-bottom: 20px;
  }
  .about-company__card {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 12px;
    line-height: 13.25px;
  }
  .about-company__card:first-of-type {
    padding-bottom: 0;
    padding-left: 10px;
  }
  .about-company__card:last-of-type {
    padding-top: 0;
    padding-right: 10px;
  }
  .about-company__card-title {
    position: absolute;
    left: 50%;
    top: 66px;
    margin: 0;
    min-width: 199px;
    font-size: 16px;
    line-height: 16px;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active), (max-width: 400px) {
  .container_about-company {
    overflow-x: hidden;
  }
}
/* about-company-end */
/* benefits-start */
@media (max-width: 1200px) {
  .container_benefits {
    padding: 93px 30px 24px;
    max-width: 1079px;
  }
  .benefits__title {
    margin-bottom: 99px;
    font-size: 30px;
    line-height: 30px;
  }
  .benefits__card {
    margin-bottom: 53px;
  }
  .benefits__card:nth-of-type(1) {
    max-width: 286px;
  }
  .benefits__card:nth-of-type(2) {
    max-width: 286px;
  }
  .benefits__card:nth-of-type(3) {
    max-width: 286px;
  }
}
@media (max-width: 930px) {
  .container_benefits {
    padding: 54px 30px 40px;
  }
  .benefits__title {
    margin-bottom: 55px;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
  }
  .benefits__card {
    margin-bottom: 15px;
  }
  .benefits__card:nth-of-type(1) {
    max-width: 218px;
  }
  .benefits__card:nth-of-type(2) {
    max-width: 227px;
  }
  .benefits__card:nth-of-type(3) {
    max-width: 197px;
  }
  .benefits__card-image {
    margin-bottom: 13px;
    width: 70px;
    height: 72px;
  }
  .benefits__card-title {
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 22px;
  }
  .benefits__card-text {
    font-size: 14px;
    line-height: 17px;
  }
}
@media (max-width: 730px) {
  .benefits::after {
    content: "";
    bottom: -40px;
    width: 100%;
    height: 41px;
    background-size: 200%;
  }
  .container_benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 30px 0;
  }
  .benefits__title {
    margin-bottom: 27px;
    font-size: 20px;
    line-height: 20px;
  }
  .benefits__card {
    margin-bottom: 53px;
  }
  .benefits__card:nth-of-type(1) {
    max-width: 300px;
  }
  .benefits__card:nth-of-type(2) {
    max-width: 300px;
  }
  .benefits__card:nth-of-type(3) {
    max-width: 300px;
  }
  .benefits__card-image {
    margin-bottom: 10px;
    width: 70px;
    height: 72px;
  }
}
@media (max-width: 400px) {
  .container_benefits {
    padding: 15px 8px 0;
  }
  .benefits__title {
    font-size: 16px;
    line-height: 16px;
  }
  .benefits__card {
    margin-bottom: 20px;
  }
  .benefits__card:nth-of-type(1) {
    max-width: 241px;
  }
  .benefits__card:nth-of-type(2) {
    max-width: 241px;
  }
  .benefits__card:nth-of-type(3) {
    max-width: 241px;
  }
  .benefits__card-image {
    margin-bottom: 10px;
    width: 47px;
    height: 47px;
  }
  .benefits__card-title {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .benefits__card-text {
    font-size: 12px;
    line-height: 14.63px;
  }
}
/* benefits-end */
/* partners-start */
@media (max-width: 1400px) {
  .container_partners {
    padding: 187px 30px 70px;
    max-width: 1079px;
  }
  .partners__title {
    margin-bottom: 60px;
    width: 100%;
    font-size: 30px;
    line-height: 30px;
  }
  .partners__link {
    margin-bottom: 60px;
  }
}
@media (max-width: 1000px) {
  .container_partners {
    padding: 159px 30px 89px;
    max-width: 1079px;
  }
  .partners__title {
    margin-bottom: 50px;
    width: 100%;
    font-size: 30px;
    line-height: 30px;
  }
  .partners__link {
    margin-bottom: 60px;
  }
}
@media (max-width: 985px) {
  .container_partners::after {
    content: "";
    width: 206px;
    height: 0;
  }
  .partners__title {
    margin-bottom: 50px;
    width: 100%;
    font-size: 30px;
    line-height: 30px;
  }
  .partners__link {
    margin-bottom: 60px;
    width: 206px;
    height: 99px;
  }
}
@media (max-width: 768px) {
  .container_partners {
    padding: 167px 30px 60px;
  }
  .partners__title {
    margin-bottom: 50px;
    width: 100%;
    font-size: 30px;
    line-height: 30px;
  }
}
@media (max-width: 480px) {
  .container_partners {
    padding: 81px 8px 60px;
  }
  .container_partners::after {
    content: "";
    width: 145px;
    height: 0;
  }
  .partners__title {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
  .partners__link {
    margin-bottom: 17px;
    width: 145px;
    height: 72px;
  }
}
@media (max-width: 400px) {
  .container_partners {
    padding: 75px 8px 70px;
  }
  .container_partners::after {
    content: "";
    width: 93px;
    height: 0;
  }
  .partners__title {
    margin-bottom: 21px;
    font-size: 16px;
    line-height: 16px;
  }
  .partners__link {
    margin-bottom: 8px;
    width: 93px;
    height: 48px;
  }
}
/* partners-end */

/*# sourceMappingURL=style.css.map */
